.card {
  background-color: whitesmoke;
  margin: 0.5rem;
  padding: 1.5rem;
  text-align: left;
  text-decoration: none;
  border: 2px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 16vw;
  height: 16vw;
  cursor: pointer;
}

.cardClicked {
  border-color: #5d9d9e;
  color: black;
}

.card p {
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: center;
}

@media (max-width: 1420px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .card {
    width: 25vw;
    height: 25vh;
  }
}

@media (max-width: 1310px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .card {
    width: 20vw;
    height: 20vh;
  }
  .card p {
    font-size: 1.25rem;
  }
}
@media (max-width: 1077px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .card {
    width: 18vw;
    height: 18vh;
  }
}
@media (max-width: 889px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .card {
    width: 20vw;
    height: 20vh;
  }
}
